.main-title {
	background-color: #18453B !important;
}

.main-inhoud .toc-search {
    background-color: #18453B !important;
}


.main-inhoud .activity-title {
    background-color: #18453B !important;
}



.toc .activity-card.active {
    background-color: #0B9A6D !important;
}

.main-inhoud .activity-title .title {
    background-color: #0B9A6D !important;
}